<div class="container">
  <div>
    <p class="task_title">Task</p>
    <p></p>
    <p class="task_number">1.</p>
    <p>
      As your first task, help the dev teams prioritise what features should be
      tested and why, between the following options:
    </p>
    <ul>
      <li>Authentication flows (sign-up, sign-in, password reset)</li>
      <li>
        Feeds (loading and pagination for both the user's feed and the global
        feed)
      </li>
      <li>Articles (creating, editing, reading, and deleting an article)</li>
      <li>
        Following authors (following a new author, feed getting updated,
        unfollowing)
      </li>
      <li>Comments (creating, reading, deleting)</li>
      <li>API Contracts</li>
    </ul>
    <div class="answer_tit"><p>Respuesta</p></div>
    <div class="answer_content">
      <p>
        Para priorizar los test he considerado los siguientes factores:<b>
          importancia para la empresa, riesgo, complejidad, frecuencia de uso y
          nivel en la web (portadas, detalles) .</b
        >
        Por lo que mi orden sería el siguiente:
      </p>
      <ul>
        <li>
          <p><b>Authentication flows (sign-up, sign-in, password reset)</b></p>
          <p>
            Esta función es fundamental para el sistema, sin que los usuarios
            puedan registrarse o iniciar sesión, no pueden interactuar como es
            debido en la web además de la mala imagen para la empresa que ya al
            inicio del uso de la web tengas problemas de usabilidad. Ya no solo
            deben ser procesos que no fallen, también es muy importante que sean
            ágiles.
          </p>
        </li>
        <li>
          <p><b>API Contracts</b></p>
          <p>
            Esta función también es muy importante porque hay que comproabar que
            las API funcionen correctamente para el funcionamiento global de la
            web.
          </p>
        </li>
        <li>
          <p>
            <b
              >Articles (creating, editing, reading, and deleting an article)</b
            >
          </p>
          <p>
            El artículo es la entidad principal de la web, de él se extraen los
            feeds, detalles etc... sin que la parte de creación, edición,
            eliminación funcione bien, no sería viable la web y crearía
            frustración a los usuarios.
          </p>
        </li>
        <li>
          <p>
            <b
              >Feeds (loading and pagination for both the user's feed and the
              global feed)</b
            >
          </p>
          <p>
            A menos nivel de importancia pero también siendo parte fundamental
            la visualización correcta y la paginación de los feeds.
          </p>
        </li>
        <li>
          <p><b>Comments (creating, reading, deleting)</b></p>
          <p>
            La gestión de los comentarios es importante para que los usuarios
            interactuen entre sí y que la web vaya creciendo en popularidad. Los
            test aunque no son tan prioritarios como los anteriores, también son
            importantes.
          </p>
        </li>
        <li>
          <p>
            <b
              >Following authors (following a new author, feed getting updated,
              unfollowing)</b
            >
          </p>
          <p>
            Está función para mí como usuario es importante pero para el sistema
            de testeo de esta web considero que es la que menos importancía
            tiene, pero no por ello se debería dejar sin testear.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="task_number">2.</p>
    <p>
      Once you have a prioritised list with your reasoning, prepare a test plan
      which will cover the features mentioned on it. This test plan should
      contain a standardised suite of tests with the usual fields (steps,
      expected results, etc.). It is paramount that test cases are described
      with the utmost clarity and detail, so as to allow any QA Engineer with no
      previous knowledge of the application's domain to properly follow and
      execute the cases. Every test case should have a criticality rating, as
      well as an impact rating. This will lead to the following task.
    </p>
  </div>
  <div class="answer_tit"><p>Respuesta</p></div>
  <div class="answer_content">
    <p>Para Conduit yo realizaría un documento con esta estructura:</p>
    <div>
      <p><b>Índice</b></p>
    </div>
    <ul>
      <li>
        <b>1. Introducción</b>
        <ul>
          <li>1.1. Objetivo del Plan de Pruebas</li>
        </ul>
      </li>
      <li>
        <b>2. Alcance de las Pruebas</b>
        <ul>
          <li>2.1. Resumen de las Pruebas a realizar</li>
          <li>2.2. Casos de las Pruebas</li>
        </ul>
      </li>
      <li>
        <b>3. Entorno y configuración de las Pruebas</b>
        <ul>
          <li>3.1. Descripción de entornos de Pruebas</li>
          <li>3.2. Criterios de Inicio</li>
          <li>3.3. Criterios de aprovación/rechazo</li>
        </ul>
      </li>
    </ul>
    <div>
      <p><b>Conduit Project</b></p>
    </div>
    <ul>
      <li>
        <b>1. Introducción</b>
        <ul>
          <li>
            <p>1.1. Objetivo del Plan de Pruebas:</p>
            <p>
              Este documento, tiene como finalidad entregar las pautas y definir
              la estrategia que se seguirá para conseguir una web de Calidad. El
              objetivo general del plan es establecer la cronología y
              condiciones para la aplicación de las pruebas de manera de
              obtener, un sistema que pueda ser completado con una recepción
              total de los interesados y entrar en operación con la totalidad de
              las funcionalidades requeridas para su funcionamiento.
            </p>
            <p>
              En cada uno de los archicos de pruebas (xxx-spec.ts), usaremos un
              el patrón AAA (Arrange-Act-Assert) usado en diseños TDD.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <b>2. Alcance de las Pruebas</b>
        <ul>
          <li>
            <p>2.1. Resumen de las Pruebas a realizar</p>
            <p>
              Para ello la mejor forma de representarlo es una tabla con todas
              las especificaciones detalladas, donde podemos ver Inicio de las
              pruebas, módulos a probar, orden, nivel de impacto etc....
            </p>
            <div>
              <table class="table">
                <thead>
                  <tr class="table-success">
                    <th scope="col">Inicio</th>
                    <th scope="col">Módulo</th>
                    <th scope="col">Ord.</th>
                    <th scope="col">N.Imp.</th>
                    <th scope="col">Objetivo</th>
                    <th scope="col">Archivos</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Responsable</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>16/01/2024</td>
                    <td>Authentication</td>
                    <td>1</td>
                    <td>Alto</td>
                    <td>
                      Comprobar que todas las funcionalidades de Registro,
                      Login, Recuperación de Password funcionen correctamente.
                    </td>
                    <td>
                      -login-spec.ts<br />
                      -register-spec.ts<br />
                      -force-logout-spec.ts<br />
                    </td>
                    <td>
                      Una vez que el departamento de desarrollo de por
                      finalizadas las pruebas unitarias de cada una de las
                      partes de este módulo, se realizan las pruebas end2end con
                      cypres, para ello habrá que realizar los test de los
                      archivos indicados.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>16/01/2024</td>
                    <td>API Contracts</td>
                    <td>2</td>
                    <td>Alto</td>
                    <td>Comprobar que la API funciona correctamente.</td>
                    <td></td>
                    <td>
                      Para hacer las pruebas de la API se utilizará Postman,
                      para comprobar que todas las llamadas API Rest funcionen
                      correctamente y reliazaremos también las pruebas de carga
                      de peticiones masivas.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                  <tr>
                    <td>16/01/2024</td>
                    <td>Articles</td>
                    <td>3</td>
                    <td>Alto</td>
                    <td>
                      Realizar todas las pruebas necesarias para que se creen,
                      modifique y elimine correctamente los artículos.
                    </td>
                    <td>-new-post-spec.ts</td>
                    <td>
                      Una vez finalizadas las pruenas unitarias, se realizarán
                      las pruebas end2end con cypress, donde comprobaremos que
                      todos las pruebas referentes a la creación, modificacion,
                      eliminación de artículo funcionan correctamente.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>16/01/2024</td>
                    <td>Feeds</td>
                    <td>4</td>
                    <td>Medio</td>
                    <td>
                      Se realizaran las pruebas necesarias para comprobar su
                      funcionamiento correcto.
                    </td>
                    <td>-feeds-spec.ts -pagination-spec.ts</td>
                    <td>
                      Tras dar el visto bueno desde el departamento de
                      desarrollo a las pruebas unitarias, se realizaran las
                      pruebas end2end con cypress.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                  <tr>
                    <td>16/01/2024</td>
                    <td>Comments</td>
                    <td>5</td>
                    <td>Medio</td>
                    <td>
                      Realizar todas las pruebas necesarias para que se creen,
                      modifique, elimine y validen correctamente los
                      comentarios.
                    </td>
                    <td>-comments-spec.ts</td>
                    <td>
                      Al terminar las pruebas unitarias, realizaremos las
                      pruebas end2end con cypress para comprobara que todos los
                      procesos de creación, modificación y eliminación funcionan
                      como deben.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>16/01/2024</td>
                    <td>Following authors</td>
                    <td>6</td>
                    <td>Bajo</td>
                    <td>Compronaremos que la funcionalidad es correcta</td>
                    <td>-follow-user-spec.ts</td>
                    <td>
                      Se realizaran las pruebas end2end con cypress una vez que
                      hayan dado el visto bueno a las pruebas unitarias desde el
                      departamento de desarrollo.
                    </td>
                    <td>Equipo QA</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
          </li>
          <li>
            <p>2.2. Casos de las Pruebas:</p>
            <p>
              En esta tabla visualizamos el número de pruebas que se realizarán
              agrupandolas por el módulo y el tipo. La finalidad de este cuadro
              es saber el número tal de pruebas que se van a realizar.
            </p>
            <div>
              <table class="table">
                <thead>
                  <tr class="table-success">
                    <th scope="col">Casos Disponibles</th>
                    <th scope="col">Módulo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Total Casos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>120</td>
                    <td>Authentication</td>
                    <td>end2end</td>
                    <td>120</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>12</td>
                    <td>API Contracts</td>
                    <td>Postman</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>Articles</td>
                    <td>end2end</td>
                    <td>95</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>36</td>
                    <td>Feeds</td>
                    <td>end2end</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>Comments</td>
                    <td>end2end</td>
                    <td>72</td>
                  </tr>
                  <tr class="table-secondary">
                    <td>11</td>
                    <td>Following authors</td>
                    <td>end2end</td>
                    <td>11</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="table-success">
                    <td><b>Total</b></td>
                    <td></td>
                    <td></td>
                    <td><b>346</b></td>
                  </tr>
                </thead>
              </table>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <p><b>3. Entorno y configuración de las Pruebas</b></p>
        <ul>
          <li>
            <p>3.1. Descripción de entornos de Pruebas</p>
            <p>
              Para el proceso de pruebas del proyecto se requiere de la
              disponibilidad de los siguientes entornos y software:
            </p>
            <p>
              Servidor Windows Server 2022 con Internet Information Server 7.0.
            </p>
            <ul>
              <li>Node.js 18x.+</li>
              <li>Git</li>
              <li>Jenkins</li>
              <li>Java SE</li>
              <li>npm</li>
              <li>Cypress.io</li>
            </ul>
            <br />
          </li>
          <li>
            <p>3.2. Criterios de Inicio</p>
            <p>Aceptación del plan de pruebas.</p>
            <p>Aceptación de paquetes.</p>
            <p>
              Revisión y aceptación de los paquetes de desarrollo, y que este
              cumpla con las condiciones de aceptación.
            </p>
            <p>Aceptación de ambiente.</p>
            <p>
              Revisión y aceptación del ambiente, y que este cumpla con las
              condiciones de aceptación
            </p>
          </li>
          <li>
            <p>3.3. Criterios de aprovación/rechazo.</p>
            <p>
              <b>Errores Graves:</b> información crítica presentada
              erróneamente, información mal registrada en la base de datos,
              caídas de programas, incumplimiento de objetivos en funciones
              principales, bloqueantes para el usuario, etc.
            </p>
            <p>
              <b>Errores Medios (comunes):</b> todos los errores similares a los
              anteriores pero que no sean bloqueantes para el usuario.
            </p>
            <p>
              <b>Errores Leves:</b> errores en presentación de datos
              secundarios, no adecuación a estándares, comportamientos correctos
              pero diferentes en situaciones similares, dificultades de
              operación, etc.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <p class="task_number">3.</p>
    <p>
      Prepare an automated suite of tests for those scenarios which you consider
      “worthy” of being automated. You may use the tools you feel most
      comfortable with. Try and focus on scalability, reusability, and
      simplicity. You will be expected to reason about decisions regarding
      selector usage, error handling, SoC, CI/CD integration, efficiency,
      brittleness, performance, and readability.
    </p>
    <div class="answer_tit"><p>Respuesta</p></div>
    <div class="answer_content">
      <p>
        Como ya hemos mostrado en los cuadros anteriores de planificación de las
        prácticas, las pruebas se clasificarían en dos modalidades:
        <b>Pruebas API Rest</b> y <b>Pruebas end2end</b>, ambas modalidades
        deben ser automatizadas.
      </p>
      <p>
        Para las <b>Pruebas API Rest</b> el software que se utilizará será
        <b>Postman</b>, actualmente es uno de los más utilizado por su sencillez
        y eficacia y da la posibilidad de programar los test.
      </p>
      <p>
        Para las <b>Pruebas end2end</b> combinaremos el software de testing
        <b>Cypress.io</b> con el sistema de integración continua (CI/CD)
        <b>Jenkins</b>. Con jenkins podemos realizar las pruebas end2end de
        forma automática sin ningun problema además de realizar pasa a paso un
        integración continua.
      </p>
      <p>
        Para las pruebas <b>end2end</b> cogeremos cada uno de los archivos de
        los módulos los clasificaremos y agruparemos por cada módulo y crearemos
        pipelines <b>sencillos y escalables</b>.
      </p>
      <p>
        <img
          src="https://github.com/thelastsandbox/Axpo_QA_Tasks/blob/main/src/app/features/article/routes/qa-tasks/imgs/specs.PNG?raw=true"
        />
      </p>
      <p>
        Los archivos <b>spec</b> tiene que estar bien creados y estructurados
        definiendo claramente con mensajes cada funciñon que se está comprobando
        para que cuando se lancen las pruebas y haya algun error podamos ver de
        forma detalla qué es lo que ha ocurrido.
      </p>
      <p>
        <img
          src="https://github.com/thelastsandbox/Axpo_QA_Tasks/blob/main/src/app/features/article/routes/qa-tasks/imgs/specs_description.PNG?raw=true"
        />
      </p>
      <p>
        Una vez comprabados los archivos specs los agruparemos segun su módulo y
        crearemos en Jenkins un <b>pipeline</b> por cada uno de los módulos que
        queremos probar, así conseguiremos que sea
        <b>sencillo y estructurado</b>.
      </p>
      <p>
        <img
          src="https://github.com/thelastsandbox/Axpo_QA_Tasks/blob/main/src/app/features/article/routes/qa-tasks/imgs/pipelines_module.PNG?raw=true"
        />
      </p>
      <p>
        Estos pipelines son fáciles de crear y reutilizar, además de poder ser
        programados y ser lanzados de forma <b>automática</b> cuando nosotros
        queramos. De igual forma podríamos agruparlos o dividirlos según la
        sencillez o complejidad del proyecto.
      </p>
    </div>
  </div>
  <div>
    <p class="task_number">4.</p>
    <p>
      The current Conduit infrastructure does not boast powerful resources. This
      means that the CI/CD pipelines where the tests will be executed can't
      handle multiple agents with multiple threads. With the criticality and
      impact ratings from the previous tasks, decide what would be an ideal
      regression testing landscape, which tests should be included in which
      execu-tion pipelines, and why. If you consider there are any particular
      algorithms or tech-niques to be used to reduce the amount of regression
      tests without compromising coverage, briefly discuss them. Also, mark the
      tests (if any) that you consider worthy of being tested in a multi-browser
      environment.
    </p>
    <div class="answer_tit"><p>Respuesta</p></div>

    <div class="answer_content">
      <p>
        Tanto las pruebas iniciales como las de regresión están incluidas dentro
        de un proceso de integración contínua en nuestro caso con Jenkins.
      </p>
      <p>
        <img
          src="https://github.com/thelastsandbox/Axpo_QA_Tasks/blob/main/src/app/features/article/routes/qa-tasks/imgs/cicd.PNG?raw=true"
        />
      </p>
      <p>
        Los diferentes tipos de pruebas de regresión son:
        <b>Pruebas de regresión correctivas</b>,
        <b>Pruebas de regresión progresivas</b>,
        <b>Pruebas de regresión retrospectivas</b>
      </p>
      <p>
        En el caso de <b>Conduit</b> solo sería necesario hacer las
        <b>Pruebas de regresión correctivas</b>, ya que de lo que se quejan los
        usuarios es de los erroes que se encuentran a la hora de usar la web, no
        piden actualizaciones para que tuvieramos que realizar
        <b>Pruebas de regresión progresivas</b> ni tampoco se va a realizar
        ningun cambio de plataforma para tener que hacer
        <b>Pruebas de regresión retrospectivas</b>.
      </p>
      <p>
        Una vez decidido que se van a hacer este tipo de pruebas de regresión
        debemos hacer una seleción de dichas pruebas:
      </p>
      <ul>
        <li>
          <b>Selección de pruebas de regresión</b>: Consiste en seleccionar un
          subconjunto de casos de prueba que sean relevantes para los cambios
          realizados en el software, y descartar los que no lo sean. Esto reduce
          el tiempo y el esfuerzo de ejecutar pruebas innecesarias. Existen
          diferentes criterios y métodos para realizar la selección de pruebas
          de regresión, como el análisis de impacto, la trazabilidad de
          requisitos, la priorización de casos de prueba, etc.
        </li>
        <li>
          <b>Minimización de pruebas de regresión</b>: Consiste en eliminar los
          casos de prueba redundantes o duplicados que no aportan valor a la
          cobertura. Esto reduce el tamaño del conjunto de pruebas de regresión
          y mejora la eficiencia. Existen diferentes técnicas para realizar la
          minimización de pruebas de regresión, como el análisis de
          dependencias, la agrupación de casos de prueba, el uso de heurísticas,
          etc.
        </li>
        <li>
          <b>Automatización de pruebas de regresión</b>: Consiste en utilizar
          herramientas y scripts que permitan ejecutar las pruebas de regresión
          de forma automática, sin intervención humana. Esto reduce el error
          humano, aumenta la velocidad y la consistencia de las pruebas, y
          permite ejecutarlas en diferentes entornos y configuraciones. Existen
          diferentes herramientas y frameworks para realizar la automatización
          de pruebas de regresión, como Selenium, TestNG, Cucumber, etc.
        </li>
      </ul>
      <p>
        Para hacer una buena selección de las pruebas de regresión hay que
        conocer bien el productor y elimimnar ya pruebas pasadas que sabemos
        perfectamente que funcionan con toda seguridad, en definitiva no
        realizar pruebas nuevamente que sabesmos que no fallan.
      </p>
      <p>
        Para que las pruebas de regresión sean minimas lo ideal es que
        inicialmente se haga un estudio exhaustivo de todos los casos de
        pruebas, para evitar posibles fallos cuando se realicen cambios en el
        software.
      </p>
      <p>
        A nivel de multi-browser haría pruebas de edicion de contenido
        simultaneos
      </p>
    </div>
  </div>
  <div>
    <p class="task_number">5.</p>
    <p>
      Conduit does have a suite of tests for their API (one of the developers
      had worked with Postman before, and generated a collection of tests). The
      spec and collection are located here:
      <a
        href="https://github.com/gothinkster/realworld/tree/main/api"
        target="_blank"
        >Conduit API Spec</a
      >
      Go through the collection briefly, and see if there's anything you would
      add, change, or remove. In case some of the tests should be included in
      any of the regression pipe-lines, do state why.
    </p>
  </div>
  <div class="answer_tit"><p>Respuesta</p></div>

  <div class="answer_content">
    <p>
      Cuando se pregunta qué se puede mejorar en algo, es seguro que habrá
      cosas...pero yo sinceramente veo que es una collection muy completa, no se
      me ocurre cómo ampliarla.
    </p>
    <p>
      <img
        src="https://github.com/thelastsandbox/Axpo_QA_Tasks/blob/main/src/app/features/article/routes/qa-tasks/imgs/postman.PNG?raw=true"
      />
    </p>
  </div>
  <div>
    <p class="task_number">6.</p>
    <p>
      After all your hard work, the Conduit's team feel more than confident that
      you could be a very good asset to the team and the company. That's why
      they wish to know more about you and your approach to QA. Please navigate
      to the
      <a href="https://roadmap.sh/qa" target="_blank">QA Roadmap</a>, and mark
      as “Done” (right click) each of the topics you consider yourself to be
      proficient with. Then you can “Share Progress” obtaining a personalised
      URL. Once you've established your knowledge, they mention that they have
      some spare budget to consider switching stack for the newly created QA
      department. This means you have total freedom of choice in terms of what
      tools you'd like to use for your QA needs. Frameworks, Assertion
      Libraries, Test Management, Bug Tracking… Anything that you require would
      be considered by the financial department and acquired. What would be your
      ideal tool stack, and why? Bear in mind that the current architec-ture of
      Conduit is a .NET micro-service backend, with an Angular frontend SPA.
    </p>
  </div>
  <div class="answer_tit"><p>Respuesta</p></div>

  <div class="answer_content">
    <p>
      Este sería mi
      <a href="https://roadmap.sh/qa?s=65a5634c8240aa21a49d33d6" target="_blank"
        >QA Roadmap</a
      >, me he basado en las tecnología y metodologías que considero más
      apropiadas para este 2024 y también las que he usado preferentemente yo en
      mi trabajo día a día.
    </p>
    <p>
      Además del sofware yo solicitaría, si no lo hubiera, un equipo para hacer
      pruebas unitarias, y otro equipo para hacer las pruebas end2end, montaje
      del servidor de Jenkins etc... y respecto al software principalmente lo
      que ya hemos mencionado anteriormente, <b>cypreess.io</b>,<b>Jenkins</b>,
      <b>postman</b>,<b>Jira</b>, <b>Confluence</b>,<b>Trello</b> o
      <b>Kanban</b>.
    </p>
    <p>
      El uso de .Net y Angular es muy buena elección por parte de
      <b>Conduit</b> ya que es facilmente manejable con infinitos packages que
      ayudan a testear, generar reports etc... por lo que los costes de montaje
      de un sitema de Pruebas no es un gasto muy grande para la empresa.
    </p>
  </div>

  <div>
    <p class="task_number">7.</p>
    <p>
      Finally, one of the senior engineers at Conduit sees testing as a waste of
      time (he was basically the force behind the team not having a proper
      testing landscape). He wants to know your approach towards the “new fad”
      of Shift-Left, and if you consider it wiser than a Shift-Right approach to
      the SDLC and STLC.
    </p>
  </div>
  <div class="answer_tit"><p>Respuesta</p></div>

  <div class="answer_content">
    <p>
      Considero que los métodos de pruebas <b>Shift-Right</b> y
      <b>Shift-Left</b>, se pueden seguir usando... uno no reemplaza al otro, en
      función de la dimensión del proyecto usaremos una metodología u otra. Por
      ejemplo aunque la tendencia actual sea realizar un Shift-Left, es decir
      todo el estudio de casos y planificación de pruebas hacerlo en la etapa
      inicial del proyecto, si nos encontramos con un proyecto muy pequeño no
      sería aconsejable porque podemos aumentar el plazo de entrega para un
      proyecto que a priori es sencillo, por el contrario siempre que el
      proyecto sea de una diemnsión mediana o grande siempre debemos usar una
      metodologia Shift-Left, tanto para ciclos de vida de desarrollo SDLC como
      de test STCL.
    </p>
  </div>
</div>
